h1 {
  font-size: 70px;
  color: solid black;
  font-family:'Sunflower';
  font-style: normal;
  text-align: center;

}

body {
  margin: 0;
}
h2{
  font-size: 35px;
  color:solid black;
  font-family: 'Dancing Script';
  margin-left: 40px;

}

h3 {
  font-size: 25px;
  color: solid black;
  font-family:'Dancing Script';
  font-style: lighter;
  margin-left: 40px;

}

.tagline{
margin-top: -5%;
margin-left: 160px;
}

p{
  font-size: 15px;
  color: #black;
  font-family: arial;
  font-style: normal;
  margin-left: 40px;
  margin-right: 100px;
  font-weight: lighter;
  line-height: 25px;
  margin-top: -20px;
}
.header{
  background-color:#00ffd6;
  padding: 80px;

}


.image1 img{
  width:120%;
  height: auto;
  padding-top: 40px;
  margin-left: 40px;
}

.image1{
  width: 200%;
  height: 200%;
  margin-top: -5%;
}

.image2 img{
  width:100%;
  height: 100%;


}

.image2{
  width: 100%;
  height: 100%;
  margin-top: -10%;

}

.image3 img{
  width:100%;
  height: 100%;
  margin-top: 40px;
}
.image3{
  width: 100%;
  height: 100%;
  margin-left: 40px;
}

.contact{
  background-color:#fedfab;
  padding: 20px;
  text-align: center;
  margin-top: -5%;
}

.contenttext{
  padding-top: 25px;




}

.contentbox{
  background-color: #9cdfd8;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-right: 20px;
  opacity: 0.75;
  height: 300px;
  margin-top: 10%;

}
