h1 {
  font-size: 70px;
  color: #fdd9d2;
  font-family:'Sunflower';
  font-style: normal;
  text-align: center;

}

h2{
  font-size: 35px;
  color:solid black;
  font-family: 'Dancing Script';
  margin-left: 40px;

}

h3 {
  font-size: 20px;
  color: #fdd9d2;
  font-family:'Dancing Script';
  font-style: lighter;
  margin-left: 40px
}

p{
  font-size: 15px;
  color: #black;
  font-family: arial;
  font-style: normal;
  margin-left: 40px;
  margin-right: 100px;
  font-weight: lighter;
  line-height: 25px;
}
.header{
  background-color:#08b09f;
  padding: 20px;

}
.background{
  background-color:#white;

}

.image1 img{
  width:120%;
  height: auto;
  padding-top: 40px;
  margin-left: 40px;
}

.image1{
  width: 200%;
  height: 200%;
}

.image2 img{
  width:90%;
  height: 100%;
  margin-right: 500px;
  margin-left: 40px;

}

.image2{
  width: 70%;
  height: 100%;
  margin-top: -20%;
}

.image3 img{
  width:70%;
  height: 100%;
  margin-right: 500px;
  margin-left: 40px;
  margin-top: 40px;
}


.contact{
  background-color:#fedfab;
  padding: 20px;
  text-align: center;
}

.contenttext{
  padding-top: 25px;

}

.contentbox{
  background-color: #9cdfd8;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  opacity: 0.75;

}
